.whole-game-modal {
    margin-left: 400px;
    margin-right: 400px;
    background-color: #000000;
    color: #ffffff
}

.game-state {
    height: 400px;
}

.tittle {
    text-align: center;
    padding: 60px;
    color: white;
    animation: appear-animation 1.5s;
    transition: all .3s ease-in-out;
    animation-fill-mode: both;
}

.header {
    text-align: center;
}

.used-letters {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin: 0 5px 15px 0;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.used-letter-and-score-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-self: start;
}

.picked-letter {
    margin-right: 3px;
}

.keyboard {
    width: 350px;
}

.keyboard-button {
    width: 50px;
    height: 50px;
    margin: 3px;
}

.button:hover {
    cursor: pointer;
}

.hangman-gif {
    height: 650px;
    animation: appear-animation 1.5s;
    transition: all .3s ease-in-out;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

@keyframes appear-animation {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes enter-game-animation-top {
    from {}
    to {margin-top: -1500px}
}

@keyframes animation-go-bootom {
    from {opacity: 1}
    to {opacity: 0}
}

.button-start-reset {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
}

.open-animation {
    animation: appear-animation 5.0s;
    transition: all .3s ease-in-out;
    animation-fill-mode: both;
}

.enter-game-animation {
    animation: animation-go-bootom 1.0s;
    transition: all .3s ease-in-out;
    animation-fill-mode: forwards;
 }
.button-start:hover {
    background-color: lightyellow;
}

.displayed-word {
    margin-top: 50px;
    font-size: 40px;
}

.add-player-to-scoreboard {
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}