.game {
    margin-left: 400px;
    margin-right: 400px;
    margin-top:60px;
    background-color: #000000;
    color: #ffffff;
}

.timer-box {
    background-color: #000000;
    color: #ffffff;
}


.game-state-image {
    height: 270px;
}

.title {
    text-align: center;
    padding: 60px;
    color: white;
    animation: appear-animation 1.5s;
    transition: all 0.3s ease-in-out;
    animation-fill-mode: both;
}

.header {
    text-align: center;
}

h3 {
    font-size: 18px !important;
}

.keyboard-button, .keyboard-button-highlight-disabled {
    width: 45px;
    height: 45px;
    margin: 3px;
    border: none;
    border-radius: 10px;
}

.button-start-reset, .button-start-reset-disabled {
    min-width: 150px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: lightyellow;
    }
}

.keyboard-button-highlight-disabled:hover, .button-start-reset-disabled:hover {
    cursor: pointer;
    background-color: #EFEFEF4D;
}

button:hover {
    cursor: pointer;
    background-color: lightyellow;
}

@keyframes appear-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.open-animation {
    animation: appear-animation 5s;
    transition: all 0.3s ease-in-out;
    animation-fill-mode: both;
}

.displayed-word {
    font-size: 40px;
}

.add-player-to-scoreboard {
    margin: auto;
}
