.navbar-menu {
  position: absolute;
  z-index: 2;
}

.navbar-button {
  color: rgb(0, 0, 0);
  margin: 5px;
  height: 51px;
  width: 160px;
  border-radius: 6px;
}

.dropdown-button {
  display: flex;
  flex-direction: column;
  height: 30px;
  margin-left: 5px;
  width: 160px;
  margin: 5px;
  border-radius: 6px;
  margin-top: 0px;
  align-items: center;
}

.authors-button {
  animation: animation 0.2s ease infinite;
}

.navbar-button:hover {
  background-color: lightyellow;
}

.dropdown-button:hover {
  background-color: lightyellow;
}

@keyframes animation {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}
