.component-background {
    background: gray;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(192, 192, 192, 0.5);
}

.add-player-to-scoreboard {
    position: unset;
    width: 55vw;
    height: 80vh;
    background-color: black;
    margin-top: 5%;
    padding: 1px 40px;
    border-radius: 38px;
}

.button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.scores-displaying {
    font-size: 1.7em;
}

.scores-displaying-single-element {
    margin: 10px;
    font-size: 16px;
}

.first-place {
    width: 100%;
    color: gold;
    text-align: center;
}

.second-place {
    width: 100%;
    color: silver;
    text-align: center;
}

.third-place {
    width: 100%;
    color: rgb(139, 73, 29);
    text-align: center;
}

.podium-first {
    height: 120px;
    background: gold;
}
.podium-second {
    height: 80px;
    background: silver;
}
.podium-third {
    height: 40px;
    background: rgb(139, 73, 29);
}

.name-input {
    height: 30px;
    width: 500px;
    font-size: 24px;
    font-family:retroFont;
    border-radius: 5px;
    background: unset;
    border: 2px solid white;
    color: white;
}

.score {
    align-self: center;
    justify-self: center;
    margin-left: 20px;
    font-size: 27px;
}

.button-save{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.low-score-info {
    text-align: center;
}
