.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face{
  font-family:'retroFont';
  src: url('./fonts/PressStart2P-Regular.ttf')
}

body,button{
  font-family:retroFont;
}